# 1. Ignorar absolutamente todo
*
.*

# 2. Permitir el propio archivo .gitignore
!.gitignore

# 3. Permitir el archivo de la practica (formato P<num>-<cuenta>.cpp)
!P*-*.cpp

# 4. Permitir carpetas Release y unicamente .exe y .pdb
![Rr]elease/
![Rr]elease/*.exe
![Rr]elease/*.pdb
!x64/
!x64/[Rr]elease/
!x64/[Rr]elease/*.exe
!x64/[Rr]elease/*.pdb
